name: assets
description: "A new Flutter package project."
version: 0.0.1
homepage:

environment:
  sdk: ^3.8.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.2.0

  vector_graphics: any
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

  build_runner: ^2.5.4
  flutter_gen_runner: 5.8.0

flutter:
  assets:
    - assets/images/
    - assets/images/icons/
    - assets/images/countries/

flutter_gen:
  # Optional
  output: lib/src/
  # Optional
  line_length: 80

  # Optional
  integrations:
    flutter_svg: true
    flare_flutter: false
    rive: false

  assets:
    # Optional
    enabled: true
    outputs:
      class_name: AppAssets
      # Optional
      # Set to true if you want this package to be a package dependency
      # See: https://flutter.dev/docs/development/ui/assets-and-images#from-packages
      package_parameter_enabled: true
      # Optional
      # Available values:
      # - camel-case
      # - snake-case
      # - dot-delimiter
      style: dot-delimiter

  fonts:
    # Optional
    enabled: true
    outputs:
      class_name: AppFonts
      package_parameter_enabled: true

  colors:
    # Optional
    enabled: true
    # Optional
    inputs: []
